.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .dialog-helper {
    margin: 0 0 0.5rem;
    font-size: 0.9rem;
    color: #475569;
  }

  mat-form-field {
    width: 100%;
  }
}
