nav {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    height: 100%;
    background-color: var(--app-sidebar-background);

    overflow: hidden;
    overflow-y: auto;

    p, a {
        font-size: 14px;
    }

    ul,
    li,
    button {
        margin: 0px;
        padding: 0px;
    }

    ul {
        list-style: none;


        li a {
            &.active {
                font-weight: 500;
                color: var(--app-sidebar-background);
                background-color: var(--app-secondary-color);

                .material-symbols-rounded {
                    font-variation-settings:
                        'FILL' 1
                }
            }
        }
    }

    a,
    .dropdown-btn {
        text-decoration: none;
        text-wrap: nowrap;
        color: var(--app-secondary-color);
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
        padding: 18px;

        &:hover {
            background-color: var(--app-secondary-color);
            color: var(--app-sidebar-background);
        }
    }

    .dropdown-btn {
        width: 100%;

        background: none;
        border: none;
        cursor: pointer;
        font: inherit;

        &.rotate {
            span:last-child {
                rotate: 180deg;
            }
        }
    }

    .sub-menu {
        display: grid;
        grid-template-rows: 0fr;
        transition: 300ms ease-in-out;

        a {
            padding-left: 36px;
        }

        >div {
            overflow: hidden;
        }

        &.show {
            grid-template-rows: 1fr;
        }
    }
}