<nav id="sidebar">
    <div>
        <ul>
            <!-- <li>
                <a [routerLink]="['home']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">dashboard</span>
                    <p>Resumen</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['tickets']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">confirmation_number</span>
                    <p>Tickets</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['reports']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">analytics</span>
                    <p>Reportes</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['mailboxes']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">mail</span>
                    <p>Buzones</p>
                </a>
            </li> -->
            <li>
                <a [routerLink]="['organizations']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">business</span>
                    <p>Clientes</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['visitor-registrations']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">badge</span>
                    <p>Visitantes</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['users']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">people</span>
                    <p>Usuarios</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['roles']" [routerLinkActive]="'active'">
                    <span class="material-symbols-rounded">key</span>
                    <p>Roles</p>
                </a>
            </li>
        </ul>
    </div>
</nav>
