.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    button {
        width: 100%;
    }
}

.logo {
    width: 50%;
}

.form-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}