.main-container {
    width: 100%;
    height: 100dvh;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;

    border-radius: 0px 40px 40px 0px;
}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

app-login-component {
    width: 60%;
}

@media(max-width: 800px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .login-bg {
        display: none;
    }
}